/*nav{
    background: #ADF0D1;
}
nav .navbar .a{
    background: #00203F;
}*/
.navbar{
    background: #00203F;
    background-position-x: right;
}
#search{
    background:#A7C2D3 ;
}
#search:hover{
    background: #ffffff;
}
#button1{
    background: #ffffff;
}
#home1{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    align-items: center;
    text-align: center;
    background: #ede9e9;
    padding: 10px;
    width: 90%;
    height: 100%;
}
#home1:hover{
    background: #928b8b;
}
#home2{
    border-radius:29% 71% 25% 75% / 74% 30% 70% 26%  ;
    align-items: center;
    text-align: center;
    background: #002a53;
    padding: 10px;
    width: 90%;
    height: 100%;
}
#home2:hover{
    background: #032f5c;
}
#home21{
    width: 100%;
    height: 85%;
}
#section1{
    background: #033b74;
    border-radius: 25px;
}
#section1:hover{
    background: #1E2029;
}
#section2{
    background: #E3E3E3;
    border-radius: 25px;
}
#section2:hover{
    background: #A7C2D3;
}
#img2{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
body{
    background: url(../bg_bggenerator_com.png);
    background-size: 100%;
}
.home{
    display: flex;
    background: url("../bgcycle1.jpg") no-repeat center;
    height: 100%;
    color: #fff;
    min-height: 650px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
    margin-top: 5px;
    font-weight: 600;
    margin-left: 30px;
    color: #00203F;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: 30px;
    color: #00203F;
}
.home .home-content .text-2:hover{
    color: rgb(100, 92, 92);
}
